{% extends 'base.html.twig' %}

{% block title %}Denevez Hôte !{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">                <!-- Font Awesome -->
    <link rel="stylesheet" href="css/bootstrap.min.css">                                      <!-- Bootstrap style -->
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="css/datepicker.css"/>
    <link rel="stylesheet" type="text/css" href="footer.css"/>
    <link rel="stylesheet" href="css/tooplate-style.css">                            <!-- Templatemo style -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <div id="about" class="w3-padding-top-64">
            <div class="w3-row">

                <div class="w3-half w3-padding-large w3-hide-small">
                    <img src="images/atypikhouse1.jpg" class="w3-round w3-image w3-opacity-min" alt="Table" style="width:100%">
                </div>
                <h1 class="w3-center">Devenez Hôte</h1><br>
                <div class="w3-half w3-padding-large">
                    <h2 class="w3-center">Un logement à partager, un monde à découvrir</h2>

                    <h4> Embarquez dans une nouvelle aventure</h4>

                    <p class="w3-large">
                        Profitez de la flexibilité qu'offre l'activité d'hôte, gagnez un revenu supplémentaire et tissez des liens durables en accueillant des voyageurs.</p>
                    <p class="w3-large w3-text-grey w3-hide-medium">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.</p>
                </div>

            </div>
        </div>



    <div id="about" class="w3-container w3-padding-32">
        <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">Comment fonctionne l'accueil de voyageurs
        </h2>

    </div>

    <div class="tm-article-carousel">

    <div class="w3-row-padding w3-grayscale">
        <article class="tm-bg-white mr-2 tm-carousel-item">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="images/img-04.jpg" alt="John" style="width:100%">
                <h4>Pourquoi devenir hôte sur AtypikHouse</h4>
                <p>Les hôtes expliquent pourquoi ils aiment partager leur logement sur AtypikHouse.</p>
            </div>
        </article>

        <article class="tm-bg-white mr-2 tm-carousel-item">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="images/img-04.jpg" alt="Jane" style="width:100%">
                <h4>Comment se lancer sur AtypikHouse</h4>
                <p>Découvrez comment vous lancer dans l'accueil de voyageurs, de la création de l'annonce jusqu'à la préparation du logement.
                </p>
            </div>
        </article>

        <article class="tm-bg-white mr-2 tm-carousel-item">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="images/img-04.jpg" alt="Mike" style="width:100%">
                <h4>Mon logement est-il adapté à AtypikHouse</h4>
                <p>Chaque logement a son voyageur idéal : l'important est que les voyageurs sachent ce qui les attend.
                </p>
            </div>
        </article>

        <article class="tm-bg-white mr-2 tm-carousel-item">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="images/img-04.jpg" alt="Dan" style="width:100%">
                <h4>Quelles réglementations en matière d'accueil de voyageurs vous concernent ?</h4>
                <p>Utilisez ce guide pour naviguer dans les lois et réglementations locales relatives à l'hébergement AtypikHouse.
                </p>
            </div>
        </article>
         </div>
    </div>


    {% include 'partials/footer.html.twig' %}
    <footer class="tm-bg-dark-blue">
        <div class="container">
            <div class="row">
                <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                    Copyright &copy; <span class="tm-current-year">2021</span> With &#9825; By OIQA Agency</p>
            </div>
        </div>
    </footer>


{% endblock %}